{{#each blogs as |blog| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2> {{blog.user_name}}</h2>
  </div>
  <div class="col-md-6">
    <h1>TESTING</h1>
    <h3>{{blog.body}}</h3>
  </div>
</div>
{{/each}}